<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.listviewanim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".animationinexamples.AnimationInExamplesActivity" />
        <activity android:name="animationinexamples.SwingBottomInActivity" />
        <activity android:name="animationinexamples.SwingBottomRightInActivity" />
        <activity android:name=".animationinexamples.SwingLeftInActivity" />
        <activity android:name=".animationinexamples.SwingRightInActivity" />
        <activity android:name=".animationinexamples.ScaleInActivity" />
        <activity android:name=".GoogleCardsActivity" />
        <activity android:name=".itemmanipulationexamples.contextualundo.ContextualUndoActivity" />
        <activity android:name=".itemmanipulationexamples.ItemManipulationsExamplesActivity" />
        <activity android:name=".itemmanipulationexamples.SwipeDismissActivity" />
        <activity android:name=".itemmanipulationexamples.AnimateDismissActivity" />
        <activity android:name=".animationinexamples.SwingBottomInActivity"/>
        <activity android:name=".animationinexamples.SwingBottomRightInActivity"/>

    </application>

</manifest>